<ion-view view-title="{{Title}}">
    <ion-content>

        <div class="list">

            <div ng-repeat="item in beneficios" class="beneficios-lista"  >

                <!-- ITEM CON LA IMAGEN A LA DERECHA -->
                <div ng-if="$index % 2 == 0" class="row" ng-click="detalle_beneficio(item)">
                    <div class="col">
                         <img class="imgBeneficio" src="{{item.src}}">
                    </div>
                    <div class="col">
                            <ion-slide-box show-pager="false" slide-interval="2000" does-continue="true" on-slide-changed="slideHasChanged($index)" class="caja-slider">

                                <ion-slide>

                                    <h5>{{item.subtitulo}}</h5>
                                    <h2>{{item.titulo}}</h2>
                                    <h5 ng-if="item.cuerpo.length <= 60">{{item.cuerpo}}</h5>
                                    <h5 ng-if="item.cuerpo.length > 60">{{item.cuerpo | limitTo:57}}...</h5>
                                    <p>{{item.likes}}</p>

                                </ion-slide>

                                <ion-slide ng-repeat="item in [1,2]">

                                    <h2> Por Defenir</h2>

                                </ion-slide>

                            </ion-slide-box>
                    </div>
                </div>
                <!--  /ITEM CON LA IMAGEN A LA DERECHA -->

                <!-- ITEM CON LA IMAGEN A LA IZQUIERDA -->

                <div ng-if="$index % 2 != 0" class="row" ng-click="detalle_beneficio(item)">
                    <div class="col">
                        <ion-slide-box  show-pager="false" slide-interval="2000" does-continue="true" on-slide-changed="slideHasChanged($index)" class="caja-slider">

                            <ion-slide>

                                <h5>{{item.subtitulo}}</h5>
                                <h2>{{item.titulo}}</h2>
                                <h5 ng-if="item.cuerpo.length <= 60">{{item.cuerpo}}</h5>
                                <h5 ng-if="item.cuerpo.length > 60">{{item.cuerpo | limitTo:57}}...</h5>
                                <p>{{item.likes}}</p>

                            </ion-slide>

                            <ion-slide ng-repeat="item in [1,2]">

                                <h2> Por Defenir</h2>

                            </ion-slide>

                        </ion-slide-box>
                    </div>
                    <div class="col">

                        <img class="imgBeneficio"  src="{{item.src}}">

                    </div>

                </div>

                <!-- /ITEM CON LA IMAGEN A LA IZQUIERDA -->

            </div>

        </div>

    </ion-content>
</ion-view>
