<ion-view view-title="Noticias">
    <ion-content>

        <ion-slide-box show-pager="false" >

            <ion-slide style="height: 95vh" ng-repeat="item in noticias" ng-click="detalle_noticia(item)">

                <img style="height: 200px ; width: 100vw" src="http://localhost:8100/img/top-noticias.png" >

                <h1> {{item.titulo}} </h1>

                <h4> {{item.fecha}} </h4>

                <h5>{{item.cuerpo}}</h5>

                <h3>Leer más -></h3>

            </ion-slide>

        </ion-slide-box>

    </ion-content>
</ion-view>
